<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "dtd/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <!-- 全局控制台打印监听 -->
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <!-- <appender name="CONSOLE" class="org.apache.log4j.lf5.LF5Appender"> -->
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%-5p]%d{yyyy-MM-dd HH:mm:ss} [%-60l]: %m%n" />
    </layout>
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
      <param name="LevelMax" value="FATAL" />
    </filter>
  </appender>

  <category name="cn.com.spbun" additivity="false">
    <level value="debug" />
    <appender-ref ref="CONSOLE" />
  </category>

  <root>
    <level value="INFO" />
    <appender-ref ref="CONSOLE" />
  </root>
</log4j:configuration>
